// Specific CSS for your home-page
.card-container{
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body{
<<<<<<< HEAD
  background-color: ##FDF4E3;
=======
  background-color: #ECD5BB;
>>>>>>> 21da2de976dbb759d27e300ab50c575be935f581
}
