// Specific CSS for your home-page
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-color:#F9F9FB;
}

.headings {
  text-align: center;
  margin: 20px;
  color: #000;
  text-shadow: 1px 1px 3px grey;
  font-weight: bold;
  margin-top: 60px;
}
