<div class="back-edit">
  <h3 class="search-heading">Edit Your Property</h1>
</div>

<div class="container">
  <%= render 'form', property: @property %>
</div>

<div class="back-edit">
  <%= link_to 'All Properties', properties_path %> |
  <%= link_to 'Back', property_path(@property) %>
</div>
