<div class="banner" style="background-color: #ECD5BB">

<a class="btn btn-ghost" href="#">Property<%= link_to @property %></a>

</div>
   <div class="container">
   <h1>Properties</h1>
   <ul>
  <% @properties.each do |property| %>
    <%= link_to property_path(property) do %>
      <li><%= property.name %> </li>
    <% end %>
  <% end %>
</ul>


</div>
