<div class="back-edit">
  <h3 class="search-heading">Add a New Property</h1>
</div>

<div class="container">
<%= render 'form', property: @property %>
</div>

<div class="back-edit">
  <%= link_to 'Back', properties_path %>
</div>
