<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://w.wallha.com/ws/1/g0DFKPTE.jpg);">
  <div class="container">
    <h1>Trek Air BnB 🚀</h1>
    <a class="btn bg-warning" href="/properties">Properties</a>
  </div>
</div>

<div class="headings">
  <h2>Top Locations!</h2>
</div>

<div class="card-container">
  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1577942948749-a3dbb5c6db0a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2hpdGUlMjBob3VzZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    <div class="card-trip-infos">
      <div>
        <h2>The White House</h2>
        <p>Biden lives here with his dog Major.</p>
      </div>
      <h2 class="card-trip-pricing">£50,000</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1556821862-33ec0be5c2c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Buckingham Palace</h2>
        <p>Queeny and Charles living happily ever after.</p>
      </div>
      <h2 class="card-trip-pricing">£25,000</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1522102508366-fb56e193c6a4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>10 Downing street</h2>
          <p>Will have to put up with a man and his crazy wig.</p>
        </div>
        <h2 class="card-trip-pricing">£99</h2>
      </div>
    </div>
  </div>
</div>

<div class="headings">
  <h2>Explore Near You!</h2>
</div>

<div class="card-container">
  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1589487917364-e73c22fd410d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Leeds Castle</h2>
        <p>Not the greatest place to stay, but historic.</p>
      </div>
      <h2 class="card-trip-pricing">£60,000</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1621703989325-9bb1d1e57a99?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Penshurst Place</h2>
        <p>One of the best places to stay.</p>
      </div>
      <h2 class="card-trip-pricing">£50,000</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1466803000100-40016de08ade?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1119&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Shard</h2>
        <p>Amazing views of the city.</p>
      </div>
      <h2 class="card-trip-pricing">£15,500</h2>
    </div>
  </div>
</div>
